div, p, header, h1, img {
  margin: 0px;
  padding: 0px;
}
h1 {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 57px;
  text-transform: uppercase;
  color: #635454;
}
.textButton {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.textInblock {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
section#headItems {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

/* header */
header {
  height: 130px;
/*  padding: 40px 120px 50px 120px; */
  text-align: left;
  vertical-align: middle;
}
header div {
  display: inline-block;
  vertical-align: middle;

}
div#logo {
  width: 170px;
  height: 50px;
  margin: 40px 93px 50px 119px;
  background: green;
}
div#navBar {
  width: 450px;
  height: 15px;
  background: white;
  margin-right: 114px;
  text-align: center;
}
div#navBar p {
  display: inline-block;
  width: 110px;
  padding: 0px 15px;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #635454;
  text-transform: uppercase;
}

div#feedback {
  position: relative;
  width: 390px;
  height: 40px;
  text-align: center;
}
div#feedback p {
  width: 150px;
  font-size: 18px;
  line-height: 23px;
  margin: 10px 0px 0px 0px;
  padding: 0px;

}
div#feedback button {
  position: absolute;
  left: 190px;
  top: 0px;
  width: 200px;
  height: 40px;
  background: #FFF;
  font-size: 14px;
  line-height: 18px;
  color: #219653;
  border: solid #219653 2px;
  border-radius: 5px;
}

/* Общая информация*/
section#commonInfo {
  position: relative;
  height: 650px;
  background-image: url("../img/roof.png");
  font-family: sans-serif;
  color: #FFF;
}
p#nameCompany {
  font-weight: 500;
  font-size: 64px;
  line-height: 70px;
  position: absolute;
  top: 170px;
  left: 120px;
}
p#infCompany {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  position: absolute;
  top: 320px;
  left: 120px;
}
#commonInfo button {
  position: absolute;
  top: 420px;
  left: 120px;
  width: 200px;
  height: 40px;
  background: #219653;
  color: #FFF;
  border-radius: 10px;
  border-style: none;
}

/* Request form */
section#form_feedback {
  height: 970px;
  width: 665px;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #4F4F4F;
  border-radius: 10px;
  font-family: sans-serif;
  text-align: center;
}
div#headlineForm {
  height: 115px;
  width: 555px;
  margin: 50px 0px 0px 55px;
  text-align: center;
  color: #635454;
};
div#headlineForm p {
  font-size: 14px;
  line-height: 22px;
}
.formItem {
  width: 570px;
 /*  background: yellow; */
  margin: 30px 0px 0px 50px;
  color: #635454;
}
.formItem:hover input {
  background: #edf7ab;
}
.formItem input {
  width: 550px;
  height: 50px;
  border: 1px solid #4F4F4F;
  border-radius: 5px;
  margin: 15px 0px 0px 0px;
  font-size: 18px;
  line-height: 28px;
}
.formItem p {
  text-align: left;
  margin: 0px 0px 0px 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.formItem p span {
  color: red;
}
input:required {
  border-color: 5px solid red;
}
